<!DOCTYPE HTML>
<html>

<head>
	<title>Avalon Solutions</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/loader.css" />
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Sidebar -->
	<section id="sidebar">
		<img src="assets/images/avalon-logo-white-website.png" width="50%">
		<br/>Draw your dream chair. <br/>We will do the rest.
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Welcome</a></li>
					<li><a href="#one">Draw</a></li>
					<li><a href="#two">Results</a></li>
					<li><a href="#three">Contact</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Avalon by Devoteam</h1>
				<p><a href="https://www.avalonsolutions.com/"></a><br /> Innovating Your Digital Workplace</a>.</p>
				<ul class="actions">
					<li><a href="#one" class="button scrolly">Let's play!</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style2 spotlights">
			<div id="loaderdiv" class=""></div>
			<section>
				<div class="content">
					<div class="inner">
						<h2>Draw a chair</h2>
						<p>Use your talent to draw the chair of your dreams. We will try our best to find the IKEA products that best suit your needs.</p>
					</div>
				</div>
			</section>

			<!-- vg: controls size of canvas section, see chair.js for canvas size -->
			<section id="canvasWrapper" style="height: 500px;">
				<ul>
					<li><a class="button" id="random">Random</a></li>
					<li><a class="button" id="undo">Undo</a></li>
					<li><a class="button" id="clean">Clean</a></li>
					<li><a class="button" id="submit">Submit</a></li>

				</ul>

				<canvas id="canvas" style="color:#ffffff;background: #ffffff; margin: auto;">
				</canvas>
			</section>


		<!-- Two -->
		<section id="two" class="wrapper style3 fade-up">
			<div class="inner">
				<h2 style="color: #0051BA">Results</h2>
				<h4 id="generated-title" hidden="true">Your GAN generated chair</h4>
				<img id="generated" src="" style="display: block; margin-bottom: 10px; margin-left: auto; margin-right: auto; width: 50%; max-width: 50%">
				<div class="features">
					<section class="image">
						<h4></h4>
						<img src="" style="max-width: 100%; " hidden="true">
					</section>
					<section class="image">
						<h4></h4>
						<img src="" style="max-width: 100%;" hidden="true">
					</section>
					<section class="image">
						<h4></h4>
						<img src="" style="max-width: 100%" hidden="true">
					</section>
					<section class="image">
						<h4></h4>
						<img src="" style="max-width: 100%" hidden="true">
					</section>

				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Want to receive your sketch by email?</h2>
				<!-- <p>Want to build smth cool bla bla..</p> -->
				<div class="split style1">
					<section>
						<form method="post" action="/send-sketch">
							<!-- <div class="fields"> -->
							<!-- <div class="field half"> -->
							<!-- <label for="name">Name</label> -->
							<!-- <input type="text" name="name" id="name" /> -->
							<!-- </div> -->
							<!-- <div class="field half"> -->
							<!-- <label for="email">Email</label> -->
							<!-- <input type="text" name="email" id="email" /> -->
							<!-- </div> -->
							<div class="field half" hidden="true">
								<label for="sketch"></label>
								<input type="text" name="sketch" id="email-sketch" />
							</div>
							<div class="field half" hidden="true">
								<label for="x"></label>
								<input type="text" name="x" id="x-form" />
							</div>
							<div class="field half" hidden="true">
								<label for="y"></label>
								<input type="text" name="y" id="y-form" />
							</div>
							<div class="field half" hidden="true">
								<label for="drag"></label>
								<input type="text" name="drag" id="drag-form" />
							</div>
						</form>
						<script>
							hbspt.forms.create({
								portalId: "5227544",
								formId: "1498f4f2-f2d6-4df0-a8e8-c385388f842f"
							});
						</script>
					</section>
					<section>
						<ul class="contact">
							<li>
								<h3>Address</h3>
								<span>Långholmsgatan 34, 117 33<br />Stockholm
									<br /> Sweden
								</span>
							</li>
							<li>
								<h3>Email</h3>
								<a href="sweden_sales@avalonsolutions.com">sweden_sales@avalonsolutions.com</a>
							</li>
							<li>
								<h3>Social</h3>
								<ul class="icons">
									<li><a href="https://github.com/avalonsolutions" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.linkedin.com/company/avalonsolutions/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Avalon by Devoteam. Various trademarks held by their respective owners.</li>
				<li>Made with ❤️ in Stockholm</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/chair.js"></script>
	<!-- <script> -->
	<!-- var submitButton = $('.hs-button'); -->
	<!-- submitButton.removeClass(); -->
	<!-- submitButton.attr('class', 'button submit'); -->
	<!-- </script> -->
</body>

</html>
